gym-automata/gym_automata.egg-info/
gym-automata/gym_automata/__pycache__/
gym-automata/gym_automata/envs/__pycache__/
gym-automata/gym_automata/envs/dog.py
gym-automata/gym_automata/envs/test.py
logic
data/ni
data/pops.py
data/simulations/
data/population2.csv
